<div> <span>PLAYER1: <%=player1%></span>
      <span>PLAYER1 HIT POINTS: <%=hp1%></span>
</div>
<div> <span> PLAYER2: <%=player2%></span>
      <span> PLAYER2 HIT POINTS: <%=hp2%></span>
 </div>
<form action='/attack' method='post'>
  <button type='submit'>Attack!</button>
</form>
<span><%=message%></span>

